<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title> MOMENT 1 - CV </title>
</head>
<body> 

<header>
    <nav>
        <ul class="menu">
            <li><a href="/"> VISA KURSER </a></li>
            <li><a href="/addcourse"> LÄGG TILL KURS </a></li>
            <li class="active-menu"> OM </li>
        </ul>
    </nav>
</header>
<section class="about-page">

    <h1> Information & slutsatser </h1>
<br>
<br>
    <h2> Webbsidans innehåll och syfte </h2>

        <p>
            Webbplatsen använder sig av en databas-server för att lagra och visa en kurslista som användare skapar själv.
        <br>
            MySQL användes från början som databas för denna webbplats. Användare kan på "LÄGG TILL KURS"-sidan mata in en kurs i valfritt syfte
            och lägga till kursen i kurslistan som visas på startsidan "VISA KURSER". I listan visas kursen som användaren valt att lägga till 
            samt en knapp för att radera kursen från listan. Användarens kurser lagras i databasen efter klick på "Lägg till kurs!"-knappen på
            "LÄGG TILL KURS"-sidan och raderas från databasen när användaren klickar på "Radera"-knappen. 
        <br>
            Innan inlämning av uppgiften uppkom problem. Att publicera med MySQL var svårt att hitta information om. Det gick så långt att hela 
            projektet ändrades till att köra med PostgreSQL, för att enklare hantera publiceringen med hemsidan Render. Denna ändring var relativt enkel att implementera
            i kodningen. Jag ändrade bland annat alla frågetecken(?) i databasfrågorna till dollartecken($) med ett följande nummer. 
            Jag behövde även ändra lite annat i koden, men det gick bra.
        </p>    

    <h2> Slutsatser </h2>
        <p>
            Kodningen och själva skapandet av webbplatsen var svår att få till. Speciellt svårt var såklart kopplingarna mellan databasen, formuläret
            och webbplatsen i sig. Det som jag upplever är jobbigt är att påbörja dessa arbeten, när vi ska använda olika verktyg som Express, EJS osv. 
            Jag får alltid en känsla av att det blir rörigt när det är så många olika verktyg man ska använda. I denna uppgift användes Express, EJS, MySQL,
            och Nodemon som var nytt, även PostgreSQL tillslut. MySQL har vi jobbat med i tidigare kursen "Databaser", men inte i samma grad. PostgreSQL va nytt
            men samtidigt likt MySQL, vilket var skönt.
            Det blir mycket nytt att lära sig, vilket såklart alltid är nyttigt, men att ladda hem paket rätt och konfiguera så att det fungerar 
            känns alltid lurigt för mig.
        </p>
        <p>
            Jag gillade uppgiften överlag. Det känns kul att äntligen få användning av databaser på ett bredare plan.
        </p>
</section>

</body>
</html>