<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title> MOMENT 1 - CV </title>
</head>
<header>
    <nav>
        <ul class="menu">
            <li><a href="/"> VISA KURSER </a></li>
            <li class="active-menu"> LÄGG TILL KURS </a></li>
            <li><a href="/about"> OM </a></li>
        </ul>
    </nav>
</header>
<body>
    
</body>
</html>