* {
    padding: 0;
    margin: 0;
    border: 0;
}

header {
    background-color: lightblue;
    padding: 10px;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}

.menu {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.menu li {
    list-style: none;
    margin: 30px;
    padding: 5px;
}
.menu li a {
    text-decoration: none;
    font-size: 23px;
    color: black;
    transition: 0.5s ease;
    padding: 5px;
}
.menu li a:hover {
    background-color: grey;
    color: white;
}
.active-menu {
    color: white;
    font-size: 23px;
    background-color: grey;
}

h1 {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#form-style {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
    border: 1px solid #333;
    border-radius: 10px;
}
label {
    font-size: 25px;
}
#coursecode {
    width: 200px;
    height: 35px;
    font-size: 26px;
}
#coursename , #syllabus {
    width: 500px;
    height: 35px;
    font-size: 26px;
}
#progression {
    font-size: 26px;
}
#submit {
    width: 200px;
    height: 50px;
    font-size: 26px;
    background-color: aliceblue;
    margin-top: 20px;
    border: 1px solid #333;
    border-radius: 5px;
    transition: 0.3s ease;
}
#submit:hover {
    cursor: pointer;
    background-color: grey;
    color: white;
}

/* Startsidans tabell-stilar. */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: Arial, sans-serif;
}

th {
    background-color: rgb(96, 147, 164);
    color: white;
    padding: 12px 15px;
    text-align: left;
    font-size: 18px;
}

td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
    font-size: 14px;
}
tr {
    background-color: white;
}
tr:hover {
    background-color: aliceblue;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#courseCodeText {
    width: 170px;
    text-align: center;
}
#link {
    width: 80px;
    text-align: center;
}
#progressionText {
    width: 100px;
    text-align: center;
}

#delete-button {
    width: 250px;
    text-align: center;
}
#delete-button button {
    background-color: red;
    padding: 15px 30px;
    color: white;
    font-size: 20px;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
}
#delete-button button:hover {
    background-color: rgb(155, 0, 0);
}

#error-message {
    text-align: center;
    margin-bottom: 10px;
}
#error-message li {
    font-size: 20px;
    margin-bottom: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}